<html>
<head>
  <title>New Capybara</title>
</head>
  <body>
    <h2>Add a new Capy!</h2>
    <form action='/capybaras' method='post'>
      <div>Name: <input type='text' name='name'></div>
      <div>Color: <input type='text' name='color'></div>
      <div>Favorite Food: <input type='text' name='favoriteFood'></div>
      <div><input type='submit' value='submit'></div>
    </form>
  </body>
</html>
